doctype html
html(lang="en")
  head
    meta(http-equiv="Content-type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="twitter:site" content="@nikotile")
    meta(property="og:url" content=getUrl().url)
    meta(property="og:site_name" content="Nikotile")
    meta(property="og:title" content=entry.title)
    meta(property="og:type" content="article")
    meta(property="og:article:published_time" content=entry.date)
    meta(property="og:description" content=entry.description.slice(0,177) + "...")
    include ../includes/metadata
    title #{entry.title}
    link(rel="shortcut icon" href="/pictures/favicon.png")
    link(rel="stylesheet" href="/style.css")
  body
    include ../includes/header
    block content
    include ../includes/footer
