<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@nikotile"/>
    <meta property="og:url" content="<%= getUrl().url %>"/>
    <meta property="og:site_name" content="<%= locals.meta.title %>"/>
    <% // check if entry or not %>
    <% if(getUrl().path.slice(0,6) === '/blog/' && getUrl().path.length > 6) { %>
    <meta name="author" content="<%= locals.meta.title %>">
    <meta property="og:title" content="<%= entry.title %>"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:published_time" content="<%= entry.date %>"/>
    <meta property="og:description" content="<%= entry.description.slice(0,177) + '...' %>"/>
    <meta property="og:image" content="https://<%= getUrl().hostname %>/icons/<%= entry.guid %>.png"/>
    <meta name="twitter:image" content="https://<%= getUrl().hostname %>/icons/<%= entry.guid %>.png"/>
    <title><%= entry.title %></title>
    <% } else { %>
    <meta property="og:title" content="<%= locals.meta.title %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="The homepage of <%= locals.meta.title %>."/>
    <meta property="og:image" content="https://<%= getUrl().hostname %>/pictures/alticon.png"/>
    <title><%= locals.meta.title %></title>
    <% } %>
    <link rel="shortcut icon" href="../../pictures/favicon.png">
    <link href="../../style.css" rel="stylesheet">
  </head>
  <body>
    <%- body %>
    <%- include('../includes/footer') %>
  </body>
</html>
