<h1><%= entry.title %></h1>
<div style="text-align:justify;">
  <%- entry.description %>
</div>
<p style="margin-bottom: 0px;">by <strong><%= locals.meta.author %></strong> <a href="mailto:<%= locals.meta.email %>?subject=<%= encodeURI(entry.title) %>" >(reply-to)</a></p>
<small><%= getDate(entry.date, 'fff') %></small>
