<div>
  <h1>Nikotile</h1>
  <p>Hello, Nikotile here! I like literature, media, culture, and some Lacanian psychoanalysis. You may find me rambling about those stuff there and there.</p>
</div>

<div>
  <div>
    <p>Something (or Some Things):</p>
  </div>
  <ul>
    <% for (let i = 0; i < sns.length; i++) { %>
    <li class="list-group-item">
      <div>
        <a href="<%= sns[i].link %>"><%= sns[i].title %></a> 
      </div>
    </li>
    <% } %>
  </ul>
</div>

<div>
  <div>
    <p>Recent updates:</p>
  </div>
  <ul>
    <% for (let i = 0; i < 4; i++) { %>
    <li class="list-group-item">
      <div>
        <small><%= getDate(entries[i].date, 'dd LLL y') %></small>
        <a href="/blog/<%= encodeURI(entries[i].title.replace(/\s/g,'-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'').toLowerCase()) %>"><%= entries[i].title %></a> 
      </div>
    </li>
    <% } %>
  </ul>
</div>
