<% for (let i = 0; i < entries.length; i++) { %>

<item>
<title><%= entries[i].title %></title>
<guid>https://<%= getUrl().hostname %>/blog/<%= encodeURI(entries[i].title.replace(/\s/g , '-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'')).toLowerCase(); %></guid>
<link>https://<%= getUrl().hostname %>/blog/<%= encodeURI(entries[i].title.replace(/\s/g , '-').replace(/[&\/\\#,+()$~%.'":*!?<>{}]/g,'')).toLowerCase(); %></link>
<pubDate><%= entries[i].pubDate %></pubDate>
<description><![CDATA[
  <%- entries[i].description %>
]]></description>
</item>

<% } %>
